
body{
	background-color: hsl(0, 0%, 98%);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
	margin: 0;
	padding: 0;
}

/*
/* Style hero section */
.hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
	background-color: #fff;
  }
  
  .hero-image img {
	max-width: 100%;
	max-height: 100%;
  }
  
  .hero-content {
	text-align: center;
	padding: 20px;
  }
  
  .hero-content h1 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  .hero-content p {
	font-size: 18px;
	margin-bottom: 20px;
  }
  

  
  /* Style featured products section */
  .featured-products {
	padding: 40px;
	text-align: center;
  }
  
  .featured-products h2 {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  .product-container {
	display: flex;
	justify-content: center;
  }
  
  .product-card {
	flex: 0 0 300px;
	padding: 20px;
	margin: 0 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-card img {
	max-width: 100%;
	max-height: 200px;
  }
  
  .product-card h3 {
	font-size: 18px;
	margin-bottom: 10px;
  }
  
  .product-card p {
	font-size: 16px;
	margin-bottom: 10px;
  }
  
  .product-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
  }
  
  .product-button:hover {
	background-color: #666;
  }
  
  /* Style footer */
  footer {
	background-color: #333;}
*/

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}